---
import Container from "@components/Container.astro";
import HeroSection from "@components/HeroSection.astro";
import Postlist from "@components/Postlist.astro";
import Layout from "@layouts/Layout.astro";

const latestPosts = (await Astro.glob("./post/*.md"))
  .filter((e: any) => !e.frontmatter.draft)
  .sort(
    (a: any, b: any) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );
---

<Layout title="首页">
  <HeroSection />

  <Container>
    <main>
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
        {
          latestPosts
            .slice(0, 2)
            .map((post) => (
              <Postlist post={post} aspect="landscape" preloadImage={true} />
            ))
        }
      </div>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          latestPosts
            .slice(2)
            .map((post) => <Postlist post={post} aspect="square" />)
        }
      </div>
    </main>
  </Container>
</Layout>
