<footer class="fflex flex-col items-center py-8">
	<div class="items-center">
		<p class="text-sm text-center">
			&copy; {new Date().getFullYear()}  · 
			<a class="link" href="/post/about" target="_blank">
        关于</a
			>
		</p>
	</div>
</footer>
