<footer class="fflex flex-col items-center py-8">
	<div class="items-center">
		<p class="text-sm text-center">
			&copy; {new Date().getFullYear()}  · 
			<a class="link" href="https://github.com/bwmspring" target="_blank">
        GitHub</a
			>
		</p>
	</div>
</footer>
